*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;

    transition: all .2s ease-in;

    &:hover {
        color: rgba(79, 149, 255, 0.70);
        text-decoration: underline;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: $textDarkColor;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input, textarea, *::placeholder {
    margin: 0;
    padding: 0;

    border: none;

    font-family: inherit;
    font-size: inherit;
}

textarea:focus, input:focus {
    outline: none;
}

button {
    padding: 0;
    border: none;
    color: inherit;
    cursor: pointer;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;

    /* Desctop */
    @media (max-width: 1499px) {
        max-width: 1200px;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        max-width: 900px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        max-width: 600px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        max-width: 100%;
    }
}